@import "tailwindcss";

@theme {
  --color-cream: #FDFBEE;
  --color-sky: #7FB9E6;
  --color-lavender: #D6BEEA;
  --color-butter: #F4D77A;
  --color-matcha: #B7C96A;
  --color-pink: #F98BA9;
  --color-tangerine: #FF8F45;
}
